################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/LibraryforTOTP/v17/.suo
/.vs/slnx.sqlite
/.vs
